body {
  background: #000000;
  font-family: sans-serif;
  /* text-align: center; */
}

a{
    color: black;
}

h1{
    background-color: #fbecec;
}

h3{
    font-size: 25px;
}

li {
    font-size: 20px;
    padding-bottom: 7px;
}

img {
    height: auto;
    width: 300px;
}

.box-content {
    width: 1400px;
    background: #414040;
    margin: 16px auto;
    text-align: center;
    padding: 10px;
}

.content {
    padding: 6px;
    margin:15px;
    background-color: #fbecec;
}


.content.passos ul{
    padding: 10px;
    background-color: beige;
    text-align: justify;
}

